/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* After reset */

html {
    scroll-behavior: smooth;
}
.firstpart-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/mtnspiral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.secondpart-cont {
    display: flex;
    flex-direction: column-reverse;
	align-items: center;
    height: 100vh;
	background: #baeaf5;
	position: relative;
}

.maintext-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 20rem;
    background-color: white;
    padding: 2rem;
    opacity: 0.8;
}

.igorimage {
	width: 100vw;
	display: block;
}

.commonball {
	position: absolute;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background: #4a88e4;
}

.oneball {
	top: 18em;
	left: 10em;
}

.twoball {
	top: 23em;
	left: 13em;
	width: 2.5em;
	height: 2.5em;
	opacity: 0.8;
}

.threeball {
	top: 27em;
	left: 10em;
	width: 2em;
	height: 2em;
	opacity: 0.6;
}

.secondpart-cont-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10em;
}

.heading {
    font-family: forma-djr-deck,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

.heading2,
.heading3 {
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    height: 4rem;
}

.heading3 {
    font-size: 2rem;
}

.gitlogo,
.linkedlogo {
    width: 100px;
}

.gitlogo:hover,
.linkedlogo:hover {
        box-shadow: 3px black;
}

.arrowplace-cont {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrowcont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

.arrowdown {
    padding-top: 0.3em;
    width: 30px;
}

.heartbeat {
	-webkit-animation: heartbeat 2s ease-in-out 1s infinite both;
	        animation: heartbeat 2s ease-in-out 1s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-10 3:3:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}

@media (min-width: 900px) {
    .heading2 {
        height: 6rem;
        font-size: 2.5rem;
        text-align: center;
        line-height: 1.2em;
    }
    .heading3 {
        font-size: 3rem;
        margin-bottom: 1em;
    }
	.commonball {
		display: none;
	}

	.secondpart-cont-left {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.igorimage {
		width: 40rem;
	}
	.secondpart-cont {
		flex-direction: row-reverse;
		background: rgb(222, 242, 246);
	}
	.secondpart-cont-right {
		margin: 5em;
		padding: 2em;
		background: rgb(74, 136, 228, 0.5);
                box-shadow: 0 0 1em rgb(133, 133, 132);
	}
	.secondpart-cont-right,
	.secondpart-cont-left {
		width: 50%;
	}
}

/* .typeText::after {
    content: "|";
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  } */